*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    border: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height: 60px;
    width: 110px;
    align-items: center;
}

.logo{
    height: 50px;
    background-size: cover;
    background-image: url("https://i.postimg.cc/jjym8pNW/amazon-logo.png");
    width: 100%;
}

.border{
    border: 3px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
    cursor: pointer;
}

.pfir{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}    

.psec{
    font-size: 1rem;
    font-weight: bold;
    margin-left: 3px;
}

.locicon{
    display: flex;
    align-items: center;
}

.navitems:hover{
    border: 2px solid #febd68;
    cursor: pointer;
}

.navitems{
    display: flex;
    border-radius: 4px;
    width: 850px;
    height: 40px;
    justify-content: space-evenly;
    background-color: aqua;
}

#abc{
    background-color: rgb(183, 175, 175);
    color: #0f1111;
    font-size: 0.9rem;
    font-weight: 100;
    width: 55px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.amasea{
    width: 100%;
    font-size: 1.0rem;
    border: none;
}

.navadd{
    height: 45px;
    align-items: center;
    justify-content: end;
}

.lan{
    height: 45px;
    width: 60px;
    display: flex;
    align-items: center;
}

#but
{
    width: 50px;
    height: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    color: #0f1111;
}

#abc:hover{
    background-color: #E6E6E6;
}

.sign{
    display: flex;
    height: 45px;
    align-items: center;
}

#one{
    font-size: 0.8rem;
    font-weight: 500;
}

#two{
    font-size: 1.0rem;
    font-weight: bold;
}

.ca{
    font-size: 2.0rem;
}

.arr{
    font-size: 0.7rem;
    color: grey;
}

.return{
    height: 45px;
    display: flex;
    align-items: center;
}

.cart{
    height: 45px;
    display: flex;
    align-items: center;
}

.secnav{
    height: 40px;
    background-color: #222f3d;
    color: #E6E6E6;
    display: flex;
    align-items: center;
}

.sty{
    height: 36px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 0.9rem;
    font-weight: 500;
}

.bars{
    margin-left: 5px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
}

.opt5{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.herosection{
    background-image: url(main.jpg);
    background-size: cover;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 15px;
}

.heropara{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #f5f6f6;
    color: #0f1111;
    font-size: 0.9rem;
    width: 95%;
    margin-bottom: 20px;
}

#anch{
    text-decoration: none;
    color: #007185;
}

.shop{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fbe7cd;
}

.boti{
    background-color: white;
    height: 400px;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 20px 0px 15px;
}

.img1{
    background-image: url(player.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20px;
}    

#anc{
    text-decoration: none;
    color: #007185;
    font-size: 0.85rem;
    margin-left: 25px;
}

#siz{
    font-weight: bolder;
    font-size: 1.3rem;
    margin-left: 20px;
}

.img2{
    background-image: url(decor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20px;
} 

.img3{
    background-image: url(watch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 310px;
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20px;
} 

.img4{
    background-image: url(chair.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20px;
} 

#anc:hover{
    color: #e4880f;
}

.kitchen{
    height: 310px;
    width: 100%;
    margin-top: 10px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    padding-right: 10px;
}   

.tot{
    display: flex;
    align-items: center;
    justify-content: center;
}

.it1{
    background-image: url(kitchen4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 40px;
}
.it2{
    background-image: url(accessories.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 40px;
}
.it3{
    background-image: url(kitchen4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 40px;
}
.it4{
    background-image: url(kitchen5.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 40px;
}
.it5{
    background-image: url(kitvhen3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 40px;
}
.it6{
    background-image: url(kitchen6.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 40px;
}
.it7{
    background-image: url(kitchen7.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 35px;
    padding-right: 10px;
}

body{
    background-color: #fbe7cd;
}

#siy{
    padding-top: 15px;
    font-weight: bolder;
    font-size: 1.3rem;
    margin-left: 20px;
}

#dom{
    display: flex;
    align-items: flex-end;
    justify-content: right;
    text-decoration: none;
    color: #007185;
    font-size: 0.85rem;
    margin-right: 20px;
    padding-bottom: 10px;
}

.img5{
    background-image: url(work.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20px;
}    
.img6{
    background-image: url(personal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20px;
}    
.img7{
    background-image: url(business.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20px;
}    
.img8{
    background-image: url(fashion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20px;
}    

.it14{
    background-image: url(b1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 40px;
}

.it15{
    background-image: url(b2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 40px;
}

.it16{
    background-image: url(b3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 40px;
}

.it8{
    background-image: url(b4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 40px;
}

.it9{
    background-image: url(b5.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 40px;
}

.it10{
    background-image: url(b6.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 40px;
}

.it11{
    background-image: url(b7.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 40px;
}

.it12{
    background-image: url(b8.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 40px;
}
.img9{
    background-image: url(f5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20px;
} 
.img10{
    background-image: url(f3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20px;
} 
.img11{
    background-image: url(f2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20px;
} 
.img12{
    background-image: url(f1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20px;
} 

.it17{
    background-image: url(e1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 35px;
    padding-right: 10px;
}
.it18{
    background-image: url(e2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 35px;
    padding-right: 10px;
}

.it19{
    background-image: url(e3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 35px;
    padding-right: 10px;
}

.it20{
    background-image: url(e4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 35px;
    padding-right: 10px;
}

.it21{
    background-image: url(e5.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 35px;
    padding-right: 10px;
}

.it22{
    background-image: url(e6.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: 35px;
    padding-right: 10px;
}

.signin{
    height: 130px;
    width: 100%;
    background-color: white;
    border-top: 0.1px solid rgb(230, 226, 226);
    border-right: none;
    margin-left: 10px;
}

.sef{
    display: flex;
    justify-content: center;
    align-items: center;
}

.def{
    padding-top: 30px;
    font-size: 0.85rem;
    font-weight: 500;
    padding-bottom: 3px;
}

#inbut{
    width: 230px;
    height: 30px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #e6952b;
    font-weight: 600;
    padding-top: 5px;
}

.dev{
    font-size: 0.7rem;
    font-weight: 500;
    padding-top: 3px;
}

.electro{
    margin-bottom: 0px;
}

.top{
    height: 50px;
    width: 100%;
    background-color: #34475f;
    color: #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rtop{
    font-size: 0.85rem;
    font-weight: 600;
}

.foot{
    height: 365px;
    background-color: #222f3d;
    color: #E6E6E6;
}

.foot2{
    width: 90px;
    height: 320px;
}

.foot{
    display: flex;
    justify-content:center ;
    
}

#with{
    padding-top: 30px;
}

ul {
    display: block;
}

#bvc{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #dddddd;
    font-size: 0.9rem;
    font-weight: 500;
}

#bvc:hover{
    text-decoration: dashed ;
    color: #CCCCCC;
}

.footertwo{
    height: 120px;
    background-color: #222f3d;
    color: #E6E6E6;
    width: 100%;
    border-top: 0.01px solid rgb(177, 174, 174);
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-panel3{
    height:70px;
    background-color:#232F3E;
    border-top: 0.5px solid white;
    display: flex;
    justify-content:space-around;
    align-items: center;

}

.logo{
    background-image: url("https://i.postimg.cc/jjym8pNW/amazon-logo.png");
    width: 100px;
}


.foot-panel4{
    background-color: #0f1111;
    height: 73px;
    color: #dddddd;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    padding-top: 15px;
}

.copyright{
    padding-top:5px ;
}